
<div class="col-xs-12" >
	<p>Souhaitiez-vous prendre rendez-vous avec un employé particulier?</p>
	<div class="btn-group" data-toggle="buttons" >
		<label class="btn btn-primary">
			<input type="radio" name="employeetype" ng-click="showEmployeeBlock()" ng-model="appointment.employeetype" value="true" autocomplete="off"> Oui
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="employeetype" ng-click="razDetails()" ng-model="appointment.employeetype" autocomplete="off"> Non
		</label>
	</div>
</div>
<div class="col-xs-12" id="services" ng-show="noemployee" >
	<label for="appservice" class="col-form-label">Choisissez le service dont vous souhaitiez prendre rendez-vous:</label>
	<select class="form-control" id="appservice" ng-change="getPeriodes()" ng-model="appointment.service">
		<option value="{{service.service_id}},{{service.service_name}}" ng-repeat="service in appointment.services" >{{service.service_name}}</option>
	</select>
</div>
<div class="col-xs-12" ng-show="appointment.employeetype || noemployeetype">
	<div class="animate-show m-t-3" ng-show="appointment.employeetype">
		<p>Je souhaite prendre rendez-vous avec:</p>
		<div class="form-group">
			<div class="radio" ng-repeat="employee in appointment.employees">
				<label>
					<input name="idemployee" value="{{employee.name}},{{employee.id_poste}},{{employee.id}},{{employee.poste}}" ng-click="dateChange()" ng-model="appointment.employeedata" type="radio">{{employee.name}} ({{employee.poste}})
				</label>
			</div>
		</div>
	</div>
	<div class="animate-show m-t-3" ng-show="appointment.employeetype || noemployeetype">
		<label for="bookingdate" class="col-form-label">Choisissez la date du rendez-vous</label>
        <p class="input-group">
			<input type="text" readonly="true" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" id="bookingdate" alt-input-formats="altInputFormats" ng-change="dateChange()" show-button-bar="showButtonBar" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default " ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
        </p>
        <div class="" >
        	<label class="col-form-label" >Choisissez l'heure du rendez-vous:</label>
        	<div class="clearfix visible-xs-block"></div>
			<input type="button" ng-repeat="hour in appointment.hours" value="{{ hour }}" class="btn btn-primary" ng-click="selectHour( hour)" />
			<p class="bs-callout bs-callout-danger col-xs-12" role="alert" ng-hide="appointment.emptyhour">Aucun horaire disponible</p>
		</div>
		<button type="button" class="btn btn-primary btn-success pull-right" ng-show="appointment.hour" ng-click="getForm()">Suivant</button>
	</div>
</div>